#container {
    width: 100%;
    margin: 0 auto;
}

a:link, a:active, a:visited {
    color: #2b3200;
    text-decoration: none;
}

a:hover {
    color: #4b5214;
}

#logo h2 {
    float: left;
    margin-top: 17px;
    margin-left: 50px;
}

#logo a {
    display: block;
    text-indent: -9999px;
    width: 165px;
    height: 115px;
    background: url(imagens/logo.png);
    margin-top: -29px;
}

header {
    padding: 15px 0;
    height: 91px;
    background-color: #8c913b;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

nav ul {
    list-style-type: none;
    margin: 40px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 50px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #2b3200;
}

body {
    background-color: #fffdb2;
}

#sobre {
    display: block;
    width: 400px;
    height: 250px;
    margin-top: -10px;
    margin-left: 60px;
    text-align: center;
    padding: 25px 25px 25px 25px;
    color: #2b3200;
    font-size: 17px;
}

#sobre h1 {
    color: #2b3200;
    font-size: 30px;
}

#produtos {
    display: block;
    float: right;
    margin-top: -290px;
    margin-right: 60px;
    padding: 25px 25px 25px 25px;
}

#produtos h3 {
    color: #2b3200;
    font-size: 20px;
}

section#galeria {
    margin-top: 10px;
    background-color: #d3cb83;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

section#galeria a {
    display: inline-block;
    padding: 20px;
    background-color: #2b3200;
    border-radius: 10px;
}

section#galeria h3 {
    color: #2b3200;
    font-size: 20px;
}