* {
    margin: 0 auto;
    padding: 0;
}

/* cabeçalho */

a:link, a:active, a:visited {
    color: #2b3200;
    text-decoration: none;
}

a:hover {
    color: #4b5214;
}

.navbar {
    background-color: #8c913b;
}
